* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

:root {
  /* Primary colors */
  --clr-primary: #0284c7;
  --clr-primary-light: #38bdf8;
  --clr-primary-dark: #0369A1;

  /* Accent */
  --clr-accent: #facc15;

  /* Backgrounds */
  --clr-bg-main: #E9ECEF;
  --clr-bg-card: #ffffff;

  /* Text */
  --clr-text-dark: #1f2937;
  --clr-text-gray: #6b7280;

  /* Borders */
  --clr-border: #e5e7eb;

  /* Avatar / highlight */
  --clr-avatar-yellow: #fde047;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}
/* Sidebar */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--clr-primary);
    display: grid;
    grid-template-rows: 100px 430px 200px;
    z-index: 3;
    box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.04);
}

.nav-primary {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.icon-dashboard {
    display: flex;
    gap: 8px;
    font-size: 30px;
    color: var(--clr-bg-card);
}

.nav-activity ul li {
    padding: 20px;
    border-radius: 20px;
    margin: 0 10px;
}

.nav-activity ul li:hover {
    background-color: var(--clr-primary-dark);
}

.nav-activity ul li a {
    text-decoration: none;
    color: var(--clr-bg-card);
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
}

.nav-settings ul li{
    padding: 20px;
    border-radius: 20px;
    margin: 0 10px;
}

.nav-settings ul li:hover {
    background-color: var(--clr-primary-dark);
}

.nav-settings ul li a{
    text-decoration: none;
    color: var(--clr-bg-card);
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
}


/* Header */

.header {
    background-color: var(--clr-bg-card);
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.04);
    z-index: 2;
}

/* Left Header */
.header-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-search {
    font-size: 24px;
    border-radius: 4px;
    padding: 8px;
}

.search-bar input {
    min-width: 500px;
    height: 30px;
    background-color: var(--clr-bg-main); 
    border: none;
    border-radius: 15px;
}

.user-info {
    display: flex;
    gap: 10px;
}

.user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Right Header */
.header-right {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top-bar {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}

.icon-notification {
    font-size: 24px;
    color: var(--clr-text-dark);
    padding: 8px;
    border-radius: 4px;
}

.top-bar .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar .profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header-action {
    display: flex;
    gap:10px;
}

.btn-new, .btn-upload, .btn-share {
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 15px;
    background-color: var(--clr-primary);
    color: var(--clr-bg-card);
}

.main {
    background-color: var(--clr-bg-main);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 30px 30px;
    gap: 20px;
}

.projects-heading {
    grid-column: 1/3;
}

.card {
    border-left: var(--clr-accent) 8px solid;
    background-color: var(--clr-bg-card);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:  
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.04);
}

.card .details {
    display: grid;
    gap: 5px;
}

.card p {
    font-size: 12px;
    color: var(--clr-text-gray);
}
.card-action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.announcement {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    padding: 30px 30px 0 0;
    gap: 20px;
}

.announcement-card {
    background-color: var(--clr-bg-card);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow:  
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.04);
}
.announcement-card .details {
    display: grid;
    gap: 5px;
}

.announcement-card p {
    font-size: 12px;
    color: var(--clr-text-gray);
}

.trending {
    grid-row: 2/3;
    grid-column: 2/-1;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 0 30px 30px 0;
}
.trending-card {
    background-color: var(--clr-bg-card);
    border-radius: 8px;
    padding: 15px;
    box-shadow:  
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending-card img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.trending-user {
    display: flex;
    gap: 10px;
}

.trending-user-details span{
    font-size: 12px;
    color: var(--clr-text-gray);
}